# Initializing Spark

In [1]:
import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

import findspark
findspark.init()
findspark.find()
import pyspark

from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext

conf = pyspark.SparkConf().setAppName('appName').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)
sqlcontext=SQLContext(sc)


# Knowledge  Questions

### Transactional systems, Analytic Systems and Data Warehouse
    
    See Lectures

# Aggregations using Apache Spark 

### Implementation From Lectures

In [112]:
retail_df=sqlcontext.read.csv("online-retail-dataset.csv",header=True,inferSchema=True)

In [113]:
retail_df.show(100)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12/1/2010 8:34|     3.75|     13047|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|12/1/2010 8:34|     1.65|     13047|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12/1/2010 8:34|     4.25|     13047|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12/1/2010 8:34|     9.95|     13047|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|12/1/2010 8:34|     7.95|     13047|United Kingdom|
|   536367|    48187| DOORMAT NEW ENGLAND|       4|12/1/2010 8:34|     7.95|     13047|United Kingdom|
|   536368|    22960|JAM MAKING SET WI...|       6|12/1/2010 8:34|     4.25|     13047|United Kingdom|
|   536368|    22913|RED COAT RACK PAR...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|
|   536368|    22912|YELLOW COAT RACK ...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|
|   536368|    22914|BLUE COAT RACK PA...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|
|   536369|    21756|BATH BUILDING BLO...|       3|12/1/2010 8:35|     5.95|     13047|United Kingdom|
|   536370|    22728|ALARM CLOCK BAKEL...|      24|12/1/2010 8:45|     3.75|     12583|        France|
|   536370|    22727|ALARM CLOCK BAKEL...|      24|12/1/2010 8:45|     3.75|     12583|        France|
|   536370|    22726|ALARM CLOCK BAKEL...|      12|12/1/2010 8:45|     3.75|     12583|        France|
|   536370|    21724|PANDA AND BUNNIES...|      12|12/1/2010 8:45|     0.85|     12583|        France|
|   536370|    21883|    STARS GIFT TAPE |      24|12/1/2010 8:45|     0.65|     12583|        France|
|   536370|    10002|INFLATABLE POLITI...|      48|12/1/2010 8:45|     0.85|     12583|        France|
|   536370|    21791|VINTAGE HEADS AND...|      24|12/1/2010 8:45|     1.25|     12583|        France|
|   536370|    21035|SET/2 RED RETROSP...|      18|12/1/2010 8:45|     2.95|     12583|        France|
|   536370|    22326|ROUND SNACK BOXES...|      24|12/1/2010 8:45|     2.95|     12583|        France|
|   536370|    22629| SPACEBOY LUNCH BOX |      24|12/1/2010 8:45|     1.95|     12583|        France|
|   536370|    22659|LUNCH BOX I LOVE ...|      24|12/1/2010 8:45|     1.95|     12583|        France|
|   536370|    22631|CIRCUS PARADE LUN...|      24|12/1/2010 8:45|     1.95|     12583|        France|
|   536370|    22661|CHARLOTTE BAG DOL...|      20|12/1/2010 8:45|     0.85|     12583|        France|
|   536370|    21731|RED TOADSTOOL LED...|      24|12/1/2010 8:45|     1.65|     12583|        France|
|   536370|    22900| SET 2 TEA TOWELS...|      24|12/1/2010 8:45|     2.95|     12583|        France|
|   536370|    21913|VINTAGE SEASIDE J...|      12|12/1/2010 8:45|     3.75|     12583|        France|
|   536370|    22540|MINI JIGSAW CIRCU...|      24|12/1/2010 8:45|     0.42|     12583|        France|
|   536370|    22544|MINI JIGSAW SPACEBOY|      24|12/1/2010 8:45|     0.42|     12583|        France|
|   536370|    22492|MINI PAINT SET VI...|      36|12/1/2010 8:45|     0.65|     12583|        France|
|   536370|     POST|             POSTAGE|       3|12/1/2010 8:45|     18.0|     12583|        France|
|   536371|    22086|PAPER CHAIN KIT 5...|      80|12/1/2010 9:00|     2.55|     13748|United Kingdom|
|   536372|    22632|HAND WARMER RED P...|       6|12/1/2010 9:01|     1.85|     17850|United Kingdom|
|   536372|    22633|HAND WARMER UNION...|       6|12/1/2010 9:01|     1.85|     17850|United Kingdom|
|   536373|   85123A|WHITE HANGING HEA...|       6|12/1/2010 9:02|     2.55|     17850|United Kingdom|
|   536373|    71053| WHITE METAL LANTERN|       6|12/1/2010 9:02|     3.39|     17850|United Kingdom|
|   536373|   84406B|CREAM CUPID HEART...|       8|12/1/2010 9:02|     2.75|     17850|United Kingdom|
|   536373|    20679|EDWARDIAN PARASOL...|       6|12/1/2010 9:02|     4.95|     17850|United Kingdom|
|   536373|    37370|RETRO COFFEE MUGS...|       6|12/1/2010 9:02|     1.06|     17850|United Kingdom|
|   536373|    21871| SAVE THE PLANET MUG|       6|12/1/2010 9:02|     1.06|     17850|United Kingdom|
|   536373|    21071|VINTAGE BILLBOARD...|       6|12/1/2010 9:02|     1.06|     17850|United Kingdom|
|   536373|    21068|VINTAGE BILLBOARD...|       6|12/1/2010 9:02|     1.06|     17850|United Kingdom|
|   536373|    82483|WOOD 2 DRAWER CAB...|       2|12/1/2010 9:02|     4.95|     17850|United Kingdom|
|   536373|    82486|WOOD S/3 CABINET ...|       4|12/1/2010 9:02|     6.95|     17850|United Kingdom|
|   536373|    82482|WOODEN PICTURE FR...|       6|12/1/2010 9:02|      2.1|     17850|United Kingdom|
|   536373|   82494L|WOODEN FRAME ANTI...|       6|12/1/2010 9:02|     2.55|     17850|United Kingdom|
|   536373|   84029G|KNITTED UNION FLA...|       6|12/1/2010 9:02|     3.39|     17850|United Kingdom|
|   536373|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 9:02|     3.39|     17850|United Kingdom|
|   536373|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 9:02|     7.65|     17850|United Kingdom|
|   536373|    21730|GLASS STAR FROSTE...|       6|12/1/2010 9:02|     4.25|     17850|United Kingdom|
|   536374|    21258|VICTORIAN SEWING ...|      32|12/1/2010 9:09|    10.95|     15100|United Kingdom|
|   536375|   85123A|WHITE HANGING HEA...|       6|12/1/2010 9:32|     2.55|     17850|United Kingdom|
|   536375|    71053| WHITE METAL LANTERN|       6|12/1/2010 9:32|     3.39|     17850|United Kingdom|
|   536375|   84406B|CREAM CUPID HEART...|       8|12/1/2010 9:32|     2.75|     17850|United Kingdom|
|   536375|    20679|EDWARDIAN PARASOL...|       6|12/1/2010 9:32|     4.95|     17850|United Kingdom|
|   536375|    37370|RETRO COFFEE MUGS...|       6|12/1/2010 9:32|     1.06|     17850|United Kingdom|
|   536375|    21871| SAVE THE PLANET MUG|       6|12/1/2010 9:32|     1.06|     17850|United Kingdom|
|   536375|    21071|VINTAGE BILLBOARD...|       6|12/1/2010 9:32|     1.06|     17850|United Kingdom|
|   536375|    21068|VINTAGE BILLBOARD...|       6|12/1/2010 9:32|     1.06|     17850|United Kingdom|
|   536375|    82483|WOOD 2 DRAWER CAB...|       2|12/1/2010 9:32|     4.95|     17850|United Kingdom|
|   536375|    82486|WOOD S/3 CABINET ...|       4|12/1/2010 9:32|     6.95|     17850|United Kingdom|
|   536375|    82482|WOODEN PICTURE FR...|       6|12/1/2010 9:32|      2.1|     17850|United Kingdom|
|   536375|   82494L|WOODEN FRAME ANTI...|       6|12/1/2010 9:32|     2.55|     17850|United Kingdom|
|   536375|   84029G|KNITTED UNION FLA...|       6|12/1/2010 9:32|     3.39|     17850|United Kingdom|
|   536375|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 9:32|     3.39|     17850|United Kingdom|
|   536375|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 9:32|     7.65|     17850|United Kingdom|
|   536375|    21730|GLASS STAR FROSTE...|       6|12/1/2010 9:32|     4.25|     17850|United Kingdom|
|   536376|    22114|HOT WATER BOTTLE ...|      48|12/1/2010 9:32|     3.45|     15291|United Kingdom|
|   536376|    21733|RED HANGING HEART...|      64|12/1/2010 9:32|     2.55|     15291|United Kingdom|
|   536377|    22632|HAND WARMER RED P...|       6|12/1/2010 9:34|     1.85|     17850|United Kingdom|
|   536377|    22633|HAND WARMER UNION...|       6|12/1/2010 9:34|     1.85|     17850|United Kingdom|
|   536378|    22386|JUMBO BAG PINK PO...|      10|12/1/2010 9:37|     1.95|     14688|United Kingdom|
|   536378|   85099C|JUMBO  BAG BAROQU...|      10|12/1/2010 9:37|     1.95|     14688|United Kingdom|
|   536378|    21033|JUMBO BAG CHARLIE...|      10|12/1/2010 9:37|     2.95|     14688|United Kingdom|
|   536378|    20723|STRAWBERRY CHARLO...|      10|12/1/2010 9:37|     0.85|     14688|United Kingdom|
|   536378|   84997B|RED 3 PIECE RETRO...|      12|12/1/2010 9:37|     3.75|     14688|United Kingdom|
|   536378|   84997C|BLUE 3 PIECE POLK...|       6|12/1/2010 9:37|     3.75|     14688|United Kingdom|
|   536378|    21094|SET/6 RED SPOTTY ...|      12|12/1/2010 9:37|     0.85|     14688|United Kingdom|
|   536378|    20725|LUNCH BAG RED RET...|      10|12/1/2010 9:37|     1.65|     14688|United Kingdom|
|   536378|    21559|STRAWBERRY LUNCH ...|       6|12/1/2010 9:37|     2.55|     14688|United Kingdom|
|   536378|    22352|LUNCH BOX WITH CU...|       6|12/1/2010 9:37|     2.55|     14688|United Kingdom|
|   536378|    21212|PACK OF 72 RETROS...|     120|12/1/2010 9:37|     0.42|     14688|United Kingdom|
|   536378|    21975|PACK OF 60 DINOSA...|      24|12/1/2010 9:37|     0.55|     14688|United Kingdom|
|   536378|    21977|PACK OF 60 PINK P...|      24|12/1/2010 9:37|     0.55|     14688|United Kingdom|
|   536378|    84991|60 TEATIME FAIRY ...|      24|12/1/2010 9:37|     0.55|     14688|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 100 rows

In [114]:
retail_df.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)

In [115]:
retail_df.columns

['InvoiceNo',
 'StockCode',
 'Description',
 'Quantity',
 'InvoiceDate',
 'UnitPrice',
 'CustomerID',
 'Country']

In [116]:
# Adding Dimension to the above dataset - Adding time
# Dropping the null data
retailDFNoNull=retail_df.na.drop()

In [117]:
retail_df.count()

541909

In [118]:
retailDFNoNull.count()

406829

In [156]:
retailDFNoNull.show(100)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+----+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|Date|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+----+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|null|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|null|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|null|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|null|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|null|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|null|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|null|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|null|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|null|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|null|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|null|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|null|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12/1/2010 8:34|     3.75|     13047|United Kingdom|null|
|   536367|    22310|IVORY KNITTED MUG...|       6|12/1/2010 8:34|     1.65|     13047|United Kingdom|null|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12/1/2010 8:34|     4.25|     13047|United Kingdom|null|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|null|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12/1/2010 8:34|     9.95|     13047|United Kingdom|null|
|   536367|    21754|HOME BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|null|
|   536367|    21755|LOVE BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|null|
|   536367|    21777|RECIPE BOX WITH M...|       4|12/1/2010 8:34|     7.95|     13047|United Kingdom|null|
|   536367|    48187| DOORMAT NEW ENGLAND|       4|12/1/2010 8:34|     7.95|     13047|United Kingdom|null|
|   536368|    22960|JAM MAKING SET WI...|       6|12/1/2010 8:34|     4.25|     13047|United Kingdom|null|
|   536368|    22913|RED COAT RACK PAR...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|null|
|   536368|    22912|YELLOW COAT RACK ...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|null|
|   536368|    22914|BLUE COAT RACK PA...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|null|
|   536369|    21756|BATH BUILDING BLO...|       3|12/1/2010 8:35|     5.95|     13047|United Kingdom|null|
|   536370|    22728|ALARM CLOCK BAKEL...|      24|12/1/2010 8:45|     3.75|     12583|        France|null|
|   536370|    22727|ALARM CLOCK BAKEL...|      24|12/1/2010 8:45|     3.75|     12583|        France|null|
|   536370|    22726|ALARM CLOCK BAKEL...|      12|12/1/2010 8:45|     3.75|     12583|        France|null|
|   536370|    21724|PANDA AND BUNNIES...|      12|12/1/2010 8:45|     0.85|     12583|        France|null|
|   536370|    21883|    STARS GIFT TAPE |      24|12/1/2010 8:45|     0.65|     12583|        France|null|
|   536370|    10002|INFLATABLE POLITI...|      48|12/1/2010 8:45|     0.85|     12583|        France|null|
|   536370|    21791|VINTAGE HEADS AND...|      24|12/1/2010 8:45|     1.25|     12583|        France|null|
|   536370|    21035|SET/2 RED RETROSP...|      18|12/1/2010 8:45|     2.95|     12583|        France|null|
|   536370|    22326|ROUND SNACK BOXES...|      24|12/1/2010 8:45|     2.95|     12583|        France|null|
|   536370|    22629| SPACEBOY LUNCH BOX |      24|12/1/2010 8:45|     1.95|     12583|        France|null|
|   536370|    22659|LUNCH BOX I LOVE ...|      24|12/1/2010 8:45|     1.95|     12583|        France|null|
|   536370|    22631|CIRCUS PARADE LUN...|      24|12/1/2010 8:45|     1.95|     12583|        France|null|
|   536370|    22661|CHARLOTTE BAG DOL...|      20|12/1/2010 8:45|     0.85|     12583|        France|null|
|   536370|    21731|RED TOADSTOOL LED...|      24|12/1/2010 8:45|     1.65|     12583|        France|null|
|   536370|    22900| SET 2 TEA TOWELS...|      24|12/1/2010 8:45|     2.95|     12583|        France|null|
|   536370|    21913|VINTAGE SEASIDE J...|      12|12/1/2010 8:45|     3.75|     12583|        France|null|
|   536370|    22540|MINI JIGSAW CIRCU...|      24|12/1/2010 8:45|     0.42|     12583|        France|null|
|   536370|    22544|MINI JIGSAW SPACEBOY|      24|12/1/2010 8:45|     0.42|     12583|        France|null|
|   536370|    22492|MINI PAINT SET VI...|      36|12/1/2010 8:45|     0.65|     12583|        France|null|
|   536370|     POST|             POSTAGE|       3|12/1/2010 8:45|     18.0|     12583|        France|null|
|   536371|    22086|PAPER CHAIN KIT 5...|      80|12/1/2010 9:00|     2.55|     13748|United Kingdom|null|
|   536372|    22632|HAND WARMER RED P...|       6|12/1/2010 9:01|     1.85|     17850|United Kingdom|null|
|   536372|    22633|HAND WARMER UNION...|       6|12/1/2010 9:01|     1.85|     17850|United Kingdom|null|
|   536373|   85123A|WHITE HANGING HEA...|       6|12/1/2010 9:02|     2.55|     17850|United Kingdom|null|
|   536373|    71053| WHITE METAL LANTERN|       6|12/1/2010 9:02|     3.39|     17850|United Kingdom|null|
|   536373|   84406B|CREAM CUPID HEART...|       8|12/1/2010 9:02|     2.75|     17850|United Kingdom|null|
|   536373|    20679|EDWARDIAN PARASOL...|       6|12/1/2010 9:02|     4.95|     17850|United Kingdom|null|
|   536373|    37370|RETRO COFFEE MUGS...|       6|12/1/2010 9:02|     1.06|     17850|United Kingdom|null|
|   536373|    21871| SAVE THE PLANET MUG|       6|12/1/2010 9:02|     1.06|     17850|United Kingdom|null|
|   536373|    21071|VINTAGE BILLBOARD...|       6|12/1/2010 9:02|     1.06|     17850|United Kingdom|null|
|   536373|    21068|VINTAGE BILLBOARD...|       6|12/1/2010 9:02|     1.06|     17850|United Kingdom|null|
|   536373|    82483|WOOD 2 DRAWER CAB...|       2|12/1/2010 9:02|     4.95|     17850|United Kingdom|null|
|   536373|    82486|WOOD S/3 CABINET ...|       4|12/1/2010 9:02|     6.95|     17850|United Kingdom|null|
|   536373|    82482|WOODEN PICTURE FR...|       6|12/1/2010 9:02|      2.1|     17850|United Kingdom|null|
|   536373|   82494L|WOODEN FRAME ANTI...|       6|12/1/2010 9:02|     2.55|     17850|United Kingdom|null|
|   536373|   84029G|KNITTED UNION FLA...|       6|12/1/2010 9:02|     3.39|     17850|United Kingdom|null|
|   536373|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 9:02|     3.39|     17850|United Kingdom|null|
|   536373|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 9:02|     7.65|     17850|United Kingdom|null|
|   536373|    21730|GLASS STAR FROSTE...|       6|12/1/2010 9:02|     4.25|     17850|United Kingdom|null|
|   536374|    21258|VICTORIAN SEWING ...|      32|12/1/2010 9:09|    10.95|     15100|United Kingdom|null|
|   536375|   85123A|WHITE HANGING HEA...|       6|12/1/2010 9:32|     2.55|     17850|United Kingdom|null|
|   536375|    71053| WHITE METAL LANTERN|       6|12/1/2010 9:32|     3.39|     17850|United Kingdom|null|
|   536375|   84406B|CREAM CUPID HEART...|       8|12/1/2010 9:32|     2.75|     17850|United Kingdom|null|
|   536375|    20679|EDWARDIAN PARASOL...|       6|12/1/2010 9:32|     4.95|     17850|United Kingdom|null|
|   536375|    37370|RETRO COFFEE MUGS...|       6|12/1/2010 9:32|     1.06|     17850|United Kingdom|null|
|   536375|    21871| SAVE THE PLANET MUG|       6|12/1/2010 9:32|     1.06|     17850|United Kingdom|null|
|   536375|    21071|VINTAGE BILLBOARD...|       6|12/1/2010 9:32|     1.06|     17850|United Kingdom|null|
|   536375|    21068|VINTAGE BILLBOARD...|       6|12/1/2010 9:32|     1.06|     17850|United Kingdom|null|
|   536375|    82483|WOOD 2 DRAWER CAB...|       2|12/1/2010 9:32|     4.95|     17850|United Kingdom|null|
|   536375|    82486|WOOD S/3 CABINET ...|       4|12/1/2010 9:32|     6.95|     17850|United Kingdom|null|
|   536375|    82482|WOODEN PICTURE FR...|       6|12/1/2010 9:32|      2.1|     17850|United Kingdom|null|
|   536375|   82494L|WOODEN FRAME ANTI...|       6|12/1/2010 9:32|     2.55|     17850|United Kingdom|null|
|   536375|   84029G|KNITTED UNION FLA...|       6|12/1/2010 9:32|     3.39|     17850|United Kingdom|null|
|   536375|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 9:32|     3.39|     17850|United Kingdom|null|
|   536375|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 9:32|     7.65|     17850|United Kingdom|null|
|   536375|    21730|GLASS STAR FROSTE...|       6|12/1/2010 9:32|     4.25|     17850|United Kingdom|null|
|   536376|    22114|HOT WATER BOTTLE ...|      48|12/1/2010 9:32|     3.45|     15291|United Kingdom|null|
|   536376|    21733|RED HANGING HEART...|      64|12/1/2010 9:32|     2.55|     15291|United Kingdom|null|
|   536377|    22632|HAND WARMER RED P...|       6|12/1/2010 9:34|     1.85|     17850|United Kingdom|null|
|   536377|    22633|HAND WARMER UNION...|       6|12/1/2010 9:34|     1.85|     17850|United Kingdom|null|
|   536378|    22386|JUMBO BAG PINK PO...|      10|12/1/2010 9:37|     1.95|     14688|United Kingdom|null|
|   536378|   85099C|JUMBO  BAG BAROQU...|      10|12/1/2010 9:37|     1.95|     14688|United Kingdom|null|
|   536378|    21033|JUMBO BAG CHARLIE...|      10|12/1/2010 9:37|     2.95|     14688|United Kingdom|null|
|   536378|    20723|STRAWBERRY CHARLO...|      10|12/1/2010 9:37|     0.85|     14688|United Kingdom|null|
|   536378|   84997B|RED 3 PIECE RETRO...|      12|12/1/2010 9:37|     3.75|     14688|United Kingdom|null|
|   536378|   84997C|BLUE 3 PIECE POLK...|       6|12/1/2010 9:37|     3.75|     14688|United Kingdom|null|
|   536378|    21094|SET/6 RED SPOTTY ...|      12|12/1/2010 9:37|     0.85|     14688|United Kingdom|null|
|   536378|    20725|LUNCH BAG RED RET...|      10|12/1/2010 9:37|     1.65|     14688|United Kingdom|null|
|   536378|    21559|STRAWBERRY LUNCH ...|       6|12/1/2010 9:37|     2.55|     14688|United Kingdom|null|
|   536378|    22352|LUNCH BOX WITH CU...|       6|12/1/2010 9:37|     2.55|     14688|United Kingdom|null|
|   536378|    21212|PACK OF 72 RETROS...|     120|12/1/2010 9:37|     0.42|     14688|United Kingdom|null|
|   536378|    21975|PACK OF 60 DINOSA...|      24|12/1/2010 9:37|     0.55|     14688|United Kingdom|null|
|   536378|    21977|PACK OF 60 PINK P...|      24|12/1/2010 9:37|     0.55|     14688|United Kingdom|null|
|   536378|    84991|60 TEATIME FAIRY ...|      24|12/1/2010 9:37|     0.55|     14688|United Kingdom|null|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+----+
only showing top 100 rows

In [125]:
from datetime import *
from pyspark.sql.types import *
from pyspark.sql.functions import to_date

In [130]:
retailDFNoNull=retailDFNoNull.withColumn("Date",to_date(retailDFNoNull["InvoiceDate"],format="MM-d-yyyy H:mm"))

In [131]:
retailDFNoNull.dtypes

[('InvoiceNo', 'string'),
 ('StockCode', 'string'),
 ('Description', 'string'),
 ('Quantity', 'int'),
 ('InvoiceDate', 'string'),
 ('UnitPrice', 'double'),
 ('CustomerID', 'int'),
 ('Country', 'string'),
 ('Date', 'date')]

In [132]:
retailDFNoNull.show(1)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+----+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|Date|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+----+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|null|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+----+
only showing top 1 row

In [302]:
# adding region dimension to the retailDF
# Creating a user defined function to generalize country 
def generalize_country(country=str):
    my_list=["Austria","France","Germany","Italy","Spain","Belgium"]
    my_list1=["Canada","USA","Brazil"]
    x=0
    if country=="United Kingdom" :
        return "British Isles"
    elif country in my_list:
        for x in my_list:
            my_list==country
            return "EU"
    elif country in my_list1:
        for x in my_list1:
            my_list==country
            return "Amerika"
    else:
        return "Others"
    
    
generalize_countryUDF=udf(lambda x: generalize_country(x))

In [303]:
generalize_country("United Kingdom")

'British Isles'

In [304]:
retailDFNoNull=retailDFNoNull.withColumn("Region",generalize_countryUDF(retailDFNoNull["Country"]))
retailDFNoNull.columns

['InvoiceNo',
 'StockCode',
 'Description',
 'Quantity',
 'InvoiceDate',
 'UnitPrice',
 'CustomerID',
 'Country',
 'Date',
 'Region']

In [305]:
#Selecting a column and displaying it with spark.sql/filtering data
retailDFNoNull.createOrReplaceTempView("retailData")

In [308]:
#selecting column and filtering it with spark.sql
spark.sql("""SELECT Country,Region FROM retailData WHERE Region=("Amerika")""").show()

+-------+-------+
|Country| Region|
+-------+-------+
| Canada|Amerika|
| Canada|Amerika|
| Canada|Amerika|
| Canada|Amerika|
| Canada|Amerika|
| Canada|Amerika|
| Canada|Amerika|
| Canada|Amerika|
| Canada|Amerika|
| Canada|Amerika|
| Brazil|Amerika|
| Brazil|Amerika|
| Brazil|Amerika|
| Brazil|Amerika|
| Brazil|Amerika|
| Brazil|Amerika|
| Brazil|Amerika|
| Brazil|Amerika|
| Brazil|Amerika|
| Brazil|Amerika|
+-------+-------+
only showing top 20 rows

In [312]:
# Aggregating quantity over countries/regions
retailDFNoNull.select("Region","Quantity").groupBy("Region").agg({"Quantity":"sum"})\
                        .orderBy(retailDFNoNull["Region"]).show(100)

+-------------+-------------+
|       Region|sum(Quantity)|
+-------------+-------------+
|      Amerika|         4153|
|British Isles|      4008533|
|           EU|       290098|
|       Others|       604104|
+-------------+-------------+

In [340]:
# Aggregating quantity over countries
retailDFNoNull.select("Country","Quantity","Region").groupBy("Country","Region").agg({"Quantity":"sum"})\
                        .orderBy(retailDFNoNull["Country"]).show(100)

+--------------------+-------------+-------------+
|             Country|       Region|sum(Quantity)|
+--------------------+-------------+-------------+
|           Australia|       Others|        83653|
|             Austria|           EU|         4827|
|             Bahrain|       Others|          260|
|             Belgium|           EU|        23152|
|              Brazil|      Amerika|          356|
|              Canada|      Amerika|         2763|
|     Channel Islands|       Others|         9479|
|              Cyprus|       Others|         6317|
|      Czech Republic|       Others|          592|
|             Denmark|       Others|         8188|
|                EIRE|       Others|       136329|
|  European Community|       Others|          497|
|             Finland|       Others|        10666|
|              France|           EU|       109848|
|             Germany|           EU|       117448|
|              Greece|       Others|         1556|
|             Iceland|       Others|         2458|
|              Israel|       Others|         3990|
|               Italy|           EU|         7999|
|               Japan|       Others|        25218|
|             Lebanon|       Others|          386|
|           Lithuania|       Others|          652|
|               Malta|       Others|          944|
|         Netherlands|       Others|       200128|
|              Norway|       Others|        19247|
|              Poland|       Others|         3653|
|            Portugal|       Others|        16044|
|                 RSA|       Others|          352|
|        Saudi Arabia|       Others|           75|
|           Singapore|       Others|         5234|
|               Spain|           EU|        26824|
|              Sweden|       Others|        35637|
|         Switzerland|       Others|        29778|
|                 USA|      Amerika|         1034|
|United Arab Emirates|       Others|          982|
|      United Kingdom|British Isles|      4008533|
|         Unspecified|       Others|         1789|
+--------------------+-------------+-------------+

In [315]:
# Aggregating with SQL queries / wrt Regions
retailDFNoNull.createOrReplaceTempView("retailData")

spark.sql("""SELECT Region,sum(Quantity) FROM retailData GROUP BY Region ORDER BY Region """).show()

+-------------+-------------+
|       Region|sum(Quantity)|
+-------------+-------------+
|      Amerika|         4153|
|British Isles|      4008533|
|           EU|       290098|
|       Others|       604104|
+-------------+-------------+

In [333]:
# Aggregating with SQL queries / wrt Countries
spark.sql("""SELECT Country,sum(Quantity) FROM retailData GROUP BY Country ORDER BY Country """).show(100)

+--------------------+-------------+
|             Country|sum(Quantity)|
+--------------------+-------------+
|           Australia|        83653|
|             Austria|         4827|
|             Bahrain|          260|
|             Belgium|        23152|
|              Brazil|          356|
|              Canada|         2763|
|     Channel Islands|         9479|
|              Cyprus|         6317|
|      Czech Republic|          592|
|             Denmark|         8188|
|                EIRE|       136329|
|  European Community|          497|
|             Finland|        10666|
|              France|       109848|
|             Germany|       117448|
|              Greece|         1556|
|             Iceland|         2458|
|              Israel|         3990|
|               Italy|         7999|
|               Japan|        25218|
|             Lebanon|          386|
|           Lithuania|          652|
|               Malta|          944|
|         Netherlands|       200128|
|              Norway|        19247|
|              Poland|         3653|
|            Portugal|        16044|
|                 RSA|          352|
|        Saudi Arabia|           75|
|           Singapore|         5234|
|               Spain|        26824|
|              Sweden|        35637|
|         Switzerland|        29778|
|                 USA|         1034|
|United Arab Emirates|          982|
|      United Kingdom|      4008533|
|         Unspecified|         1789|
+--------------------+-------------+

In [363]:
# Aggregating with Roll up/Cube
retailDFNoNull.cube("Region","Country").sum("Quantity").orderBy(col("Country")).show(100)

+-------------+--------------------+-------------+
|       Region|             Country|sum(Quantity)|
+-------------+--------------------+-------------+
|         null|                null|      4906888|
|       Others|                null|       604104|
|      Amerika|                null|         4153|
|           EU|                null|       290098|
|British Isles|                null|      4008533|
|         null|           Australia|        83653|
|       Others|           Australia|        83653|
|         null|             Austria|         4827|
|           EU|             Austria|         4827|
|       Others|             Bahrain|          260|
|         null|             Bahrain|          260|
|           EU|             Belgium|        23152|
|         null|             Belgium|        23152|
|      Amerika|              Brazil|          356|
|         null|              Brazil|          356|
|         null|              Canada|         2763|
|      Amerika|              Canada|         2763|
|       Others|     Channel Islands|         9479|
|         null|     Channel Islands|         9479|
|         null|              Cyprus|         6317|
|       Others|              Cyprus|         6317|
|       Others|      Czech Republic|          592|
|         null|      Czech Republic|          592|
|         null|             Denmark|         8188|
|       Others|             Denmark|         8188|
|       Others|                EIRE|       136329|
|         null|                EIRE|       136329|
|         null|  European Community|          497|
|       Others|  European Community|          497|
|         null|             Finland|        10666|
|       Others|             Finland|        10666|
|         null|              France|       109848|
|           EU|              France|       109848|
|         null|             Germany|       117448|
|           EU|             Germany|       117448|
|       Others|              Greece|         1556|
|         null|              Greece|         1556|
|       Others|             Iceland|         2458|
|         null|             Iceland|         2458|
|         null|              Israel|         3990|
|       Others|              Israel|         3990|
|           EU|               Italy|         7999|
|         null|               Italy|         7999|
|       Others|               Japan|        25218|
|         null|               Japan|        25218|
|       Others|             Lebanon|          386|
|         null|             Lebanon|          386|
|       Others|           Lithuania|          652|
|         null|           Lithuania|          652|
|       Others|               Malta|          944|
|         null|               Malta|          944|
|       Others|         Netherlands|       200128|
|         null|         Netherlands|       200128|
|         null|              Norway|        19247|
|       Others|              Norway|        19247|
|       Others|              Poland|         3653|
|         null|              Poland|         3653|
|         null|            Portugal|        16044|
|       Others|            Portugal|        16044|
|       Others|                 RSA|          352|
|         null|                 RSA|          352|
|       Others|        Saudi Arabia|           75|
|         null|        Saudi Arabia|           75|
|       Others|           Singapore|         5234|
|         null|           Singapore|         5234|
|         null|               Spain|        26824|
|           EU|               Spain|        26824|
|       Others|              Sweden|        35637|
|         null|              Sweden|        35637|
|         null|         Switzerland|        29778|
|       Others|         Switzerland|        29778|
|         null|                 USA|         1034|
|      Amerika|                 USA|         1034|
|         null|United Arab Emirates|          982|
|       Others|United Arab Emirates|          982|
|British Isles|      United Kingdom|      4008533|
|         null|      United Kingdom|      4008533|
|       Others|         Unspecified|         1789|
|         null|         Unspecified|         1789|
+-------------+--------------------+-------------+

In [373]:
#using pivot (Changes perspective)
retailDFNoNull.select("Country","Region","Quantity").groupBy("Country").pivot("Region").sum("Quantity").show()

+------------------+-------+-------------+------+------+
|           Country|Amerika|British Isles|    EU|Others|
+------------------+-------+-------------+------+------+
|            Sweden|   null|         null|  null| 35637|
|         Singapore|   null|         null|  null|  5234|
|           Germany|   null|         null|117448|  null|
|               RSA|   null|         null|  null|   352|
|            France|   null|         null|109848|  null|
|            Greece|   null|         null|  null|  1556|
|European Community|   null|         null|  null|   497|
|           Belgium|   null|         null| 23152|  null|
|           Finland|   null|         null|  null| 10666|
|             Malta|   null|         null|  null|   944|
|       Unspecified|   null|         null|  null|  1789|
|             Italy|   null|         null|  7999|  null|
|              EIRE|   null|         null|  null|136329|
|         Lithuania|   null|         null|  null|   652|
|            Norway|   null|         null|  null| 19247|
|             Spain|   null|         null| 26824|  null|
|           Denmark|   null|         null|  null|  8188|
|            Israel|   null|         null|  null|  3990|
|           Iceland|   null|         null|  null|  2458|
|   Channel Islands|   null|         null|  null|  9479|
+------------------+-------+-------------+------+------+
only showing top 20 rows

In [378]:
#sampling data 
retailDFNoNull.select("Country","Region","Quantity").sample(fraction=0.5).show()

+--------------+-------------+--------+
|       Country|       Region|Quantity|
+--------------+-------------+--------+
|United Kingdom|British Isles|       6|
|United Kingdom|British Isles|       6|
|United Kingdom|British Isles|       8|
|United Kingdom|British Isles|       2|
|United Kingdom|British Isles|       6|
|United Kingdom|British Isles|       6|
|United Kingdom|British Isles|       6|
|United Kingdom|British Isles|       6|
|United Kingdom|British Isles|       3|
|United Kingdom|British Isles|       4|
|United Kingdom|British Isles|       4|
|United Kingdom|British Isles|       6|
|United Kingdom|British Isles|       3|
|United Kingdom|British Isles|       3|
|United Kingdom|British Isles|       3|
|        France|           EU|      24|
|        France|           EU|      24|
|        France|           EU|      18|
|        France|           EU|      24|
|        France|           EU|      24|
+--------------+-------------+--------+
only showing top 20 rows

In [405]:
#computing statistics
retailDFNoNull.select("Quantity").summary().show()

+-------+-----------------+
|summary|         Quantity|
+-------+-----------------+
|  count|           406829|
|   mean|12.06130339774205|
| stddev|248.6933700188259|
|    min|           -80995|
|    25%|                2|
|    50%|                5|
|    75%|               12|
|    max|            80995|
+-------+-----------------+

# Practise Questions

Download the dataset from here: https://github.com/databricks/Spark-The-Definitive-Guide/blob/master/data/retail-data/by-day/2010-12-01.csv

### SQL Query 1

#### Use SQL query operation provided by SPARK in order to answer the following questions.

Use "spark.sql()" function to write the queries.

Note: the following questions are not automatically correct by the OLAT system, therefore, as far as the solutions result in the right answer they will be considered.

 

#### How many orders did customers perform at which hour?

In [622]:
#reading the data and initial processing

retailsdata=sqlcontext.read.csv("2010-12-01.json",header=True,inferSchema=True)

In [623]:
retailsdata.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: double (nullable = true)
 |-- Country: string (nullable = true)

In [624]:
retailsdata.show(2)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 2 rows

In [625]:
# Adding Date and Yearcolumns to the dataframe
retailsdata=retailsdata.withColumn('Date',to_date(retailsdata["InvoiceDate"],format="yyyy-MM-dd HH:mm:ss"))\
.withColumn("Year",year(retailsdata["InvoiceDate"]))\
.withColumn("InvoiceDate",to_timestamp(retailsdata["InvoiceDate"]))

In [626]:
retailsdata.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: double (nullable = true)
 |-- Country: string (nullable = true)
 |-- Date: date (nullable = true)
 |-- Year: integer (nullable = true)

In [627]:
retailsdata.show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----------+----+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|      Date|Year|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----------+----+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|2010-12-01|2010|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|2010-12-01|2010|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|2010-12-01|2010|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|2010-12-01|2010|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|2010-12-01|2010|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|     7.65|   17850.0|United Kingdom|2010-12-01|2010|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|     4.25|   17850.0|United Kingdom|2010-12-01|2010|
|   536366|    22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|2010-12-01|2010|
|   536366|    22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|2010-12-01|2010|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|     1.69|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    22749|FELTCRAFT PRINCES...|       8|2010-12-01 08:34:00|     3.75|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    22310|IVORY KNITTED MUG...|       6|2010-12-01 08:34:00|     1.65|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|2010-12-01 08:34:00|     4.25|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    22623|BOX OF VINTAGE JI...|       3|2010-12-01 08:34:00|     4.95|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    22622|BOX OF VINTAGE AL...|       2|2010-12-01 08:34:00|     9.95|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    21754|HOME BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    21755|LOVE BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    21777|RECIPE BOX WITH M...|       4|2010-12-01 08:34:00|     7.95|   13047.0|United Kingdom|2010-12-01|2010|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----------+----+
only showing top 20 rows

In [628]:
#retailsdata=retailsdata.na.drop()

In [629]:
# USing spark Query
retailsdata.select("CustomerID","InvoiceDate","Quantity").groupBy("InvoiceDate").agg({"Quantity":"sum"})\
.orderBy("InvoiceDate").show()

+-------------------+-------------+
|        InvoiceDate|sum(Quantity)|
+-------------------+-------------+
|2010-12-01 08:26:00|           40|
|2010-12-01 08:28:00|           12|
|2010-12-01 08:34:00|           98|
|2010-12-01 08:35:00|            3|
|2010-12-01 08:45:00|          449|
|2010-12-01 09:00:00|           80|
|2010-12-01 09:01:00|           12|
|2010-12-01 09:02:00|           88|
|2010-12-01 09:09:00|           32|
|2010-12-01 09:32:00|          200|
|2010-12-01 09:34:00|           12|
|2010-12-01 09:37:00|          454|
|2010-12-01 09:41:00|          221|
|2010-12-01 09:45:00|          134|
|2010-12-01 09:49:00|           -1|
|2010-12-01 09:53:00|          190|
|2010-12-01 09:56:00|           53|
|2010-12-01 09:57:00|          236|
|2010-12-01 09:58:00|         1440|
|2010-12-01 09:59:00|          108|
+-------------------+-------------+
only showing top 20 rows

In [630]:
#using SQL query
#initiating
retailsdata.createOrReplaceTempView("retails")

In [631]:
#SQL query
spark.sql("""SELECT InvoiceDate,sum(Quantity) FROM retails Group by InvoiceDate Order by InvoiceDate ;""").show()

+-------------------+-------------+
|        InvoiceDate|sum(Quantity)|
+-------------------+-------------+
|2010-12-01 08:26:00|           40|
|2010-12-01 08:28:00|           12|
|2010-12-01 08:34:00|           98|
|2010-12-01 08:35:00|            3|
|2010-12-01 08:45:00|          449|
|2010-12-01 09:00:00|           80|
|2010-12-01 09:01:00|           12|
|2010-12-01 09:02:00|           88|
|2010-12-01 09:09:00|           32|
|2010-12-01 09:32:00|          200|
|2010-12-01 09:34:00|           12|
|2010-12-01 09:37:00|          454|
|2010-12-01 09:41:00|          221|
|2010-12-01 09:45:00|          134|
|2010-12-01 09:49:00|           -1|
|2010-12-01 09:53:00|          190|
|2010-12-01 09:56:00|           53|
|2010-12-01 09:57:00|          236|
|2010-12-01 09:58:00|         1440|
|2010-12-01 09:59:00|          108|
+-------------------+-------------+
only showing top 20 rows

###  SQL query 2

#### Use SQL query operation provided by SPARK in order to answer the following questions.

Use "spark.sql()" function to write the queries.

Note: the following questions are not automatically correct by the OLAT system, therefore, as far as the solutions result in the right answer they will be considered.

 

#### How frequently was each product bought in different countries?

In [632]:
# First using spark query
retailsdata.select("StockCode","Quantity","Country").show(5)

+---------+--------+--------------+
|StockCode|Quantity|       Country|
+---------+--------+--------------+
|   85123A|       6|United Kingdom|
|    71053|       6|United Kingdom|
|   84406B|       8|United Kingdom|
|   84029G|       6|United Kingdom|
|   84029E|       6|United Kingdom|
+---------+--------+--------------+
only showing top 5 rows

In [633]:
# How frequently was each product bought in different countries?
retailsdata.groupBy("StockCode","Country").agg({"Quantity":"count"}).orderBy("StockCode").show()

+---------+--------------+---------------+
|StockCode|       Country|count(Quantity)|
+---------+--------------+---------------+
|    10002|United Kingdom|              1|
|    10002|        France|              1|
|    10125|United Kingdom|              1|
|    10133|United Kingdom|              1|
|    10135|United Kingdom|              1|
|    11001|United Kingdom|              1|
|   15044B|United Kingdom|              1|
|  15056BL|United Kingdom|              3|
|   15056N|United Kingdom|              3|
|   15056P|United Kingdom|              1|
|    16014|United Kingdom|              1|
|    16016|United Kingdom|              1|
|   16168M|United Kingdom|              1|
|    16236|United Kingdom|              2|
|    16237|United Kingdom|              4|
|    16238|United Kingdom|              3|
|   16258A|United Kingdom|              1|
|    17003|United Kingdom|              2|
|   17011F|United Kingdom|              1|
|   17012A|United Kingdom|              2|
+---------+--------------+---------------+
only showing top 20 rows

In [634]:
#retailsdata.rollup("Country","StockCode").agg({"Quantity":"count"}).orderBy("StockCode").show()

In [635]:
#Using SQL query
retailsdata.createOrReplaceTempView("retails")

In [636]:
spark.sql("""SELECT StockCode,Country,count(Quantity) FROM retails Group by StockCode,Country Order by StockCode""").show()

+---------+--------------+---------------+
|StockCode|       Country|count(Quantity)|
+---------+--------------+---------------+
|    10002|United Kingdom|              1|
|    10002|        France|              1|
|    10125|United Kingdom|              1|
|    10133|United Kingdom|              1|
|    10135|United Kingdom|              1|
|    11001|United Kingdom|              1|
|   15044B|United Kingdom|              1|
|  15056BL|United Kingdom|              3|
|   15056N|United Kingdom|              3|
|   15056P|United Kingdom|              1|
|    16014|United Kingdom|              1|
|    16016|United Kingdom|              1|
|   16168M|United Kingdom|              1|
|    16236|United Kingdom|              2|
|    16237|United Kingdom|              4|
|    16238|United Kingdom|              3|
|   16258A|United Kingdom|              1|
|    17003|United Kingdom|              2|
|   17011F|United Kingdom|              1|
|   17012A|United Kingdom|              2|
+---------+--------------+---------------+
only showing top 20 rows

# Programming Questions

### Slice operation

#### Select from a datacube a slice that contains only items from the United States.

In [637]:
retailsdata.show(5)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----------+----+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|      Date|Year|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----------+----+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|2010-12-01|2010|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|2010-12-01|2010|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|2010-12-01|2010|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|2010-12-01|2010|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|2010-12-01|2010|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----------+----+
only showing top 5 rows

In [638]:
retailsdata.filter(retailsdata["Country"]=="United Kingdom").show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----------+----+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|      Date|Year|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----------+----+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|2010-12-01|2010|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|2010-12-01|2010|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|2010-12-01|2010|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|2010-12-01|2010|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|2010-12-01|2010|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|     7.65|   17850.0|United Kingdom|2010-12-01|2010|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|     4.25|   17850.0|United Kingdom|2010-12-01|2010|
|   536366|    22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|2010-12-01|2010|
|   536366|    22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|2010-12-01|2010|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|     1.69|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    22749|FELTCRAFT PRINCES...|       8|2010-12-01 08:34:00|     3.75|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    22310|IVORY KNITTED MUG...|       6|2010-12-01 08:34:00|     1.65|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|2010-12-01 08:34:00|     4.25|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    22623|BOX OF VINTAGE JI...|       3|2010-12-01 08:34:00|     4.95|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    22622|BOX OF VINTAGE AL...|       2|2010-12-01 08:34:00|     9.95|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    21754|HOME BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    21755|LOVE BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|2010-12-01|2010|
|   536367|    21777|RECIPE BOX WITH M...|       4|2010-12-01 08:34:00|     7.95|   13047.0|United Kingdom|2010-12-01|2010|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----------+----+
only showing top 20 rows

### Dice Operation

#### Select a sub-cube from a datacube that contains items from United states and United Kingdom with quantities 0:

In [684]:

dice = retailsdata.where(((col("Country") == "United States") | (col("Country") == "United Kingdom")) & (col("Quantity") == 1))

In [686]:
dice.show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----------+----+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|      Date|Year|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----------+----+
|   536381|    71270|     PHOTO CLIP LINE|       1|2010-12-01 09:41:00|     1.25|   15311.0|United Kingdom|2010-12-01|2010|
|   536381|    22262|FELT EGG COSY CHI...|       1|2010-12-01 09:41:00|     0.85|   15311.0|United Kingdom|2010-12-01|2010|
|   536381|    22637|PIGGY BANK RETROS...|       1|2010-12-01 09:41:00|     2.55|   15311.0|United Kingdom|2010-12-01|2010|
|   536381|    21166|COOK WITH WINE ME...|       1|2010-12-01 09:41:00|     1.95|   15311.0|United Kingdom|2010-12-01|2010|
|   536381|   37444A|YELLOW BREAKFAST ...|       1|2010-12-01 09:41:00|     2.95|   15311.0|United Kingdom|2010-12-01|2010|
|   536381|   37444C|PINK BREAKFAST CU...|       1|2010-12-01 09:41:00|     2.95|   15311.0|United Kingdom|2010-12-01|2010|
|   536381|    22083|PAPER CHAIN KIT R...|       1|2010-12-01 09:41:00|     2.95|   15311.0|United Kingdom|2010-12-01|2010|
|   536381|    22261|FELT EGG COSY WHI...|       1|2010-12-01 09:41:00|     0.85|   15311.0|United Kingdom|2010-12-01|2010|
|   536381|    84832|ZINC WILLIE WINKI...|       1|2010-12-01 09:41:00|     0.85|   15311.0|United Kingdom|2010-12-01|2010|
|   536381|    22644|CERAMIC CHERRY CA...|       1|2010-12-01 09:41:00|     1.45|   15311.0|United Kingdom|2010-12-01|2010|
|   536381|    21533|RETROSPOT LARGE M...|       1|2010-12-01 09:41:00|     4.95|   15311.0|United Kingdom|2010-12-01|2010|
|   536381|    22176|   BLUE OWL SOFT TOY|       1|2010-12-01 09:41:00|     2.95|   15311.0|United Kingdom|2010-12-01|2010|
|   536381|    22438|BALLOON ART MAKE ...|       1|2010-12-01 09:41:00|     1.95|   15311.0|United Kingdom|2010-12-01|2010|
|   536385|    22783|SET 3 WICKER OVAL...|       1|2010-12-01 09:56:00|    19.95|   17420.0|United Kingdom|2010-12-01|2010|
|   536392|    22827|RUSTIC  SEVENTEEN...|       1|2010-12-01 10:29:00|    165.0|   13705.0|United Kingdom|2010-12-01|2010|
|   536401|    22110|BIRD HOUSE HOT WA...|       1|2010-12-01 11:21:00|     2.55|   15862.0|United Kingdom|2010-12-01|2010|
|   536401|    22098|BOUDOIR SQUARE TI...|       1|2010-12-01 11:21:00|     1.25|   15862.0|United Kingdom|2010-12-01|2010|
|   536401|    22766| PHOTO FRAME CORNICE|       1|2010-12-01 11:21:00|     2.95|   15862.0|United Kingdom|2010-12-01|2010|
|   536401|    22451|SILK PURSE BABUSH...|       1|2010-12-01 11:21:00|     3.35|   15862.0|United Kingdom|2010-12-01|2010|
|   536401|    22549|    PICTURE DOMINOES|       1|2010-12-01 11:21:00|     1.45|   15862.0|United Kingdom|2010-12-01|2010|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----------+----+
only showing top 20 rows

In [683]:
#Roll up operation,cube

retailsdata.rollup("StockCode","Country").agg({"Quantity":"count"}).orderBy("StockCode").show()

+---------+--------------+---------------+
|StockCode|       Country|count(Quantity)|
+---------+--------------+---------------+
|     null|          null|           3108|
|    10002|          null|              2|
|    10002|United Kingdom|              1|
|    10002|        France|              1|
|    10125|United Kingdom|              1|
|    10125|          null|              1|
|    10133|United Kingdom|              1|
|    10133|          null|              1|
|    10135|          null|              1|
|    10135|United Kingdom|              1|
|    11001|United Kingdom|              1|
|    11001|          null|              1|
|   15044B|          null|              1|
|   15044B|United Kingdom|              1|
|  15056BL|United Kingdom|              3|
|  15056BL|          null|              3|
|   15056N|United Kingdom|              3|
|   15056N|          null|              3|
|   15056P|          null|              1|
|   15056P|United Kingdom|              1|
+---------+--------------+---------------+
only showing top 20 rows